.outer-item {
  background-color: #3E3E3E;
  overflow: auto;
  max-height: 1000vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item a {
  color: black;
  font-size: 2vw;
}

.item {
  background-color: #939393;
  width: 70vw;
  min-height: 80vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 39px;
  box-shadow: 1vw 1.5vh #7289DA;
  display: flex;
  justify-content: space-evenly;
}

.item .item-error {
  font-size: 4vw;
  color: rgb(179, 2, 2);
  align-self: center;
  width: 70vw;
  justify-self: center;
  text-align: center;
}

.item section {
  width: 30vw;
  min-height: 80vh;
}

.item article {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item h1 {
  font-size: 3vw;
}

.item p {
  font-size: 2vw;
  color: black;
}

.item img {
  width: 20vw;
  border-radius: 15px;
  max-height: 45vh;
  object-fit: cover;
}

.item article button {
  border: 0px;
  height: 100%;
  background-color: #939393;
}

.item article button:hover {
  opacity: 0.8;
}

.item article .item-icon-r:hover {
  animation: move 500ms ease;
  transform: translateX(20px);
}

.item article .item-icon-l:hover {
  animation: movel 500ms ease;
  transform: translateX(-20px);
}

@keyframes movel {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-20px);
  }
}

@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(20px);
  }
}

.item .item-contact {
  /* position: absolute;
  right: 3vw;
  bottom: 3vh; */
  width: 18vw;
  border: 0px;
  background-color: #63E100;
  border-radius: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

.item .item-contact:hover {
  opacity: 0.8;
}

.item .item-contact p {
  font-size: 2vw;
}

.item .item-right {
  width: 20vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-left: 5vw;
}

.item .item-wrap {
  max-width: 20vw;
  word-wrap: break-word;
}