.navbar-main {
  background-color: #939393;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navbar-main img {
  height: 2.8vh;
}

.navbar-main button {
  background-color: #939393;
  border: none;
}

.navbar-main img:hover {
  opacity: 0.7;
}

.navbar-main .search {
  margin-left: 6vw;
  margin-top: 0;
  margin-right: 2vw;
  display: flex;
  align-items: center;
}

.navbar-main .search input {
  height: 4vh;
  border: 0px;
  width: 40vw;
  margin: 3vh;
  margin-top: 2.5vh;
  background-color: #B9B9B9;
}

.navbar-main .search input::placeholder {
  color: black;
  font-size: 1.3vh;
}

.navbar-main .links-main {
  width: 24.3vw;
  height: 3vw;
  margin-top: 5vh;
  font-size: 1vw;
}

.navbar-main article {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}

.navbar-main hr {
  width: 3vw;
  border: 2px solid #7289DA
}

.navbar-main article .link-nav-main {
  color: black;
  width: 7.2vw;
  height: 1.5vh;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 1vh;
  text-decoration: none;
}

.navbar-main .link-nav-main:hover {
  opacity: 0.7;
}

.navbar-main section {
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
}

.navbar-main .link-main {
  width: 18vw;
  font-size: 1.7vw;
  text-decoration: none;
  color: black;
  margin-left: 2vw;
}

.navbar-main .link-main:hover {
  opacity: 0.7;
}