.ls {
  background-image: url("../../assets/ftc-dirt.jpg");
  background-position: center;
  background-size: cover;
  background-position-y: 100vh;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ls > article {
  background-color:#C4C4C4;
  height: 80vh;
  width: 30vw;
  border-radius: 4%;
}

.ls div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ls h1 {
  font-size: 2vw;
  margin-top: 6vh;
}

.login-link {
  font-size: 1.8vw;
  color: black;
  text-decoration: none;
}

.login-link:hover {
  opacity: 0.8;
}

.ls > article section > section {
  height: 8vh;
  width: 20vw;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.ls form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ls .emailForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5vh;
}

.ls input {
  height: 4vw;
  border: 0px;
  width: 25vw;
  margin: 3vh;
}

.ls-button-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25vw;
  height: 10vh;
  margin-top: 3vh;
}

.ls button {
  background-color: #63E100;
  border: 0px;
  height: 7vh;
  width: 10vw;
  font-size: 1vw;
}

.ls > article section > section:hover {
  opacity: 0.8;
}

.ls > article section > section > p {
  font-size: 1.5vw;
  font-weight: 400;
}

.ls > article section > section:nth-child(1) {
  background-color: #DB4437;
}

.ls > article section > section:nth-child(2) {
  background-color: #4267B2;
}

.ls > article section > section:nth-child(3) {
  background-color: #6e5494;
}

.ls > article section > section:nth-child(4) {
  background-color: #51D600;
  margin-bottom: 8vh;
}